<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868610178836-i47jhk2bj68an14g42nai72a2iq145f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868610178836-i47jhk2bj68an14g42nai72a2iq145f7</string>
	<key>API_KEY</key>
	<string>AIzaSyB1C5m1TQB1O6wv2Sa0pK2NddJJk2kg1HI</string>
	<key>GCM_SENDER_ID</key>
	<string>868610178836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dorak.test</string>
	<key>PROJECT_ID</key>
	<string>dorak-kuwait</string>
	<key>STORAGE_BUCKET</key>
	<string>dorak-kuwait.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868610178836:ios:39a24758b3fa4ef427cc01</string>
</dict>
</plist>